.fotos{
    width: 50%;
    height: 50%;
    margin-left: 30%;
}

.dados{
    width: 70%;
}
td{
    padding: 2%;
}
img{
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 10%;
}
body{
    text-align: center;
    font-size: 120%;
    font-family:'Trebuchet MS';
    font-style: normal;
}
table{
    border-bottom: solid 1px black; 
    width: 100%; 
    text-align: left;   
}
#cabecalho, img{
    width: 40%;
    height: 80%;
    padding: 1.5%;
}
#cabecalho{
    display: inline-block;
}
