.fotos{
    width: 75%;
    height: 75%;
}
tr, td{
    padding: 5%;
}
.dados{
    width: 70%;
}
img{
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 10%;
}
body{
    background-image: url("img/ufrn-logo.PNG");
    text-align: center;
}
table{
    border-bottom: solid 1px black; 
    width: 100%; text-align: left;
    margin-top: 5%;
}
#cabecalho, img{
    width: 40%;
    height: 80%;
    padding: 1.5%;
}
#cabecalho{
    display: inline-block;
}